<%- include('head.ejs'); %>
<%- include('navbar.ejs'); %>

<div class="container">
  <form action="/mine-transactions" method="GET">
    <button class="btn btn-danger">Mine Reports</button></form>
</div>

<%- include('foot.ejs'); %>