<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>MediChain | Add Record</title>
  </head>
  <body>
    <nav>
      <a href="../index.html" class="navLogo">MediChain</a>
      <a class="navlink home" href="#">
        <i class="fas fa-home" title="Home"></i>
      </a>
      <a class="navlink addReport" href="./patientDetailsForm.html">
        <i class="fas fa-plus" title="Add Report"></i>
      </a>
      <a class="navlink mineReport" href="#">
        <i class="fas fa-redo-alt" title="Mine Report"></i>
      </a>
      <a class="navlink account" href="#">
        <i class="far fa-user-circle" title="Account"></i>
      </a>
    </nav>
    <section class="container">
      <form class="recordsForm">
        <h1 class="sectionHeading">add record</h1>
        <input
          class="inputField"
          type="text"
          name=""
          id=""
          placeholder="Patient's Key"
        />
        <input
          class="inputField"
          type="text"
          name=""
          id=""
          placeholder="Patient's Name"
        />
        <input
          class="inputField"
          type="text"
          name=""
          id=""
          placeholder="Doctor's Name"
        />
        <input
          class="inputField"
          type="date"
          name=""
          id=""
          placeholder="Date"
        />
        <textarea
          class="inputField"
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Patient Condition"
        ></textarea>
        <input class="submit" type="submit" value="Add" />
      </form>
    </section>
  </body>
</html>
